# Debug Mode
DEBUG=1

# DJango secret key
SECRET_KEY=zye05XsSu7zypu1Z_9U7sFA0wHnf297j6USObPhOsjz5AjZJkEo6F1m3NimHZ-dpnfw

# Prod DB Settings
NAME=tenant_hub
USER=tenant_hub
PASSWORD=password
HOST=db
PORT=54321
